* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ---------------element style------------ */

button,
input,
select {
  outline: initial;
  border: initial;
  color: inherit;
  background-color: initial;
}

.pft {
  color: #eae3e3;
  height: 100vh;
  width: 100vw;
  background-color: #1a1f25;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.pft-container {
  display: flex;
  height: 100%;
}

/* -----------------footer------------------ */

.footer {
  margin: 5px;
  border-radius: 10px;
  display: flex;
  border: 1px solid #d46326;
  flex-direction: column;
  width: 68px;
  position: relative;
}

.footer::before {
  content: '';
  position: absolute;
  background-color: #d46326;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.footer__transaction {
  width: 100%;
  height: 150px;
}

.transaction {
  background-color: #d46326;
  color: #fff;
  padding: 7px 0;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.footer__name {
  display: flex;
  width: 100%;
  height: 100%;
}

.footer__name h1 {
  margin-top: auto;
  transform: rotate(-90deg);
  color: #d46326;
  white-space: nowrap;
  font-size: 1.5em;
}

.footer__name-container {
  width: 100%;
  height: 74px;
  margin-top: auto;
}

/* -----------------tracker--------------------- */

.tracker {
  flex: 1;
  margin: auto;
  max-width: max-content;
}

.tracker-container > div {
  border-radius: 10px;
  padding: 10px;
}

.tracker-container {
  margin: auto;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(5, 200px);
  grid-template-rows: repeat(3, 200px);
}

/* -------------tracker__income-------------------- */

.tracker__income {
  background-color: rgba(15, 107, 29, 0.2);
  /* border: 1px solid #0f6b1d; */
}

.tracker__income-details {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.log-income {
  font-size: smaller;
}

.tracker__income-value,
.tracker__income-source {
  background-color: #1d1f21;
  border: 1px solid rgba(15, 107, 29, 0.5);
  padding: 10px;
  border-radius: 5px;
  transition: all 0.5s;
}

.tracker__income-value:hover,
.tracker__income-source:hover {
  background-color: #1a1f25;
  border-color: rgba(15, 107, 29);
}

.tracker__income-input {
  padding: 5px;
  max-width: 600px;
  height: 350px;
  overflow-y: auto;
  border-radius: 10px;
}

.tracker__icome-input-log-entry {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(15, 107, 29, 0.5);
  margin-bottom: 5px;
  padding: 5px;
}

.income-salary {
  padding: 2px 20px;
  background-color: rgba(15, 107, 29, 0.1);
  border: 1px solid rgba(15, 107, 29);
  border-radius: 1000px;
}

.entry {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.entry-btn {
  cursor: pointer;
  padding: 10px 20px;
  background-color: rgba(15, 107, 29, 0.5);
  border: 1px solid rgba(15, 107, 29);
  border-radius: 1000px;
  transition: all 0.5s;
}

.entry-btn:active {
  transform: translateY(4px);
}

.entry__icon {
  font-size: 1em;
  font-weight: lighter;
}

.entry__text {
  font-size: smaller;
}

.tracker__expense {
  background-color: rgba(101, 21, 110, 0.2);
  /* border: 1px solid #65156e; */
}
.tracker__budget {
  background-color: rgba(163, 41, 33, 0.2);
  /* border: 1px solid #a32921; */
}
.tracker__savings {
  background-color: rgba(107, 60, 15, 0.2);
  /* border: 1px solid #6b3c0f; */
}

.income {
  grid-row: 1 / 4;
  grid-column: 1 / 3;
}

.expense,
.budget,
.savings {
  grid-column-start: 3;
  grid-column-end: 6;
}

/* -----------------tracker__expense--------------------- */
.tracker__expense {
  display: flex;
}

.tracker__expense-details {
  padding: 0 3px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 33%;
  margin-right: 3px;
}

.tracker__expense-value,
.tracker__expense-source {
  background-color: #1d1f21;
  border: 1px solid rgba(101, 21, 110, 0.5);
  padding: 10px;
  border-radius: 5px;
  transition: all 0.5s;
}

.tracker__expense-value:hover,
.tracker__expense-source:hover {
  background-color: #1a1f25;
  border-color: rgba(101, 21, 110);
}

.log-expense {
  font-size: smaller;
}

.tracker__expense-log {
  padding: 5px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  border-radius: 10px;
}

.expense-log__salary {
  padding: 2px 20px;
  background-color: rgba(101, 21, 110, 0.1);
  border: 1px solid rgba(101, 21, 110);
  border-radius: 1000px;
}

.tracker__expense-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(101, 21, 110, 0.5);
  margin-bottom: 5px;
  padding: 5px;
}

.expense__entery-btn {
  cursor: pointer;
  padding: 5px 5px;
  background-color: rgba(101, 21, 110, 0.5);
  border: 1px solid rgba(101, 21, 110);
  border-radius: 1000px;
  transition: all 0.5s;
}

.expense__entery-btn:active {
  transform: translateY(4px);
}
